h1 {
  font-family: 'Taviraj', Serif;
  text-shadow: 0 15px 35px -8px #696262;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  color: #fff;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  color: #000;
}

li {
  color: #000;
}
.band1 {
  background-image: repeating-linear-gradient(-45deg,#fff, #CDDAD1 1px, #fff 1px, #fff 8px);
  position: relative;
}

.band2 {
  background-color: #9ABCA5;
}

.band3 {
  background-color: #fff;
}

.sm-image {
  height: 100px;
  box-shadow: 0 15px 35px -8px #696262;
}

.med-image {
  height: 200px;
  margin-top: 15px;
  border-radius: 25%;
  box-shadow: 0 15px 35px -8px #696262;
}

.lrg-image {
  height: 400px;
  padding: 3px;
  border: 4px solid #9ABCA5;
  border-radius: 10%;
}

.thin-white-border {
  border-color: #fff;
  border-width: 2px;
  border-style: solid;
  border-radius: 10%;
}

.figure-caption {
  color: #696262;
  position: relative;
  padding: 17.5px 17px 10px 21px;
  background-color: #9ABCA5;
  margin-top: -10px;
  margin-bottom: 25px;
  box-shadow: 0 15px 35px -8px #696262;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #9ABCA5;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

blockquote:before {
  color: #9ABCA5;
  content: open-quote;
  font-family: 'Taviraj', Serif;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
